nav {
  position: fixed;
  top: 0;
  height: 80px;
  background-color: #00a087;
  color: #e8fdff;
  width: 100%;
  color: white;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 9999;
  overflow: hidden;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  padding-right: 10px;
  float: left;
}

#nav-bar .header {
  font-size: 200%;
  height: 80px;
  float: left;
  line-height: 80px;
}
