
.each-old-tweet {
  margin-top: 1em;
  border-radius: 10px;
  border:  2px solid lightgrey;
  background-color: white;
  opacity: 0.5;
}

.each-old-tweet:hover {
  margin-top: 1em;
  border-radius: 10px;
  border:  2px solid lightgrey;
  background-color: white;
  opacity: 1;
}

.each-old-tweet header {
  padding: 5px;
  background-color: lightgrey;
  height:  70px;
}

.each-old-tweet header {
  padding: 5px;
  background-color: lightgrey;
  height:  70px;
}

.each-old-tweet .avatar {
  float: left;
}

.each-old-tweet .avatar img {
  height: 60px;
  border-radius: 5px;
  vertical-align: top;
  padding-bottom: 1px;
}

.each-old-tweet .name {
  float: left;
}

.each-old-tweet .name h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px
}

.each-old-tweet .handle {
  padding-top: 2px;
  float: right;
}

.each-old-tweet .tweet-body {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.each-old-tweet hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: solid;
  border-color: #e6e6e6;
}

.each-old-tweet footer {
  font-size: 95%;
  padding: 8px;
}

.tweet-buttons-unhidden {
  height: 20px;
  width: auto;
  padding-left: 2px;
  float: right;
}

.tweet-buttons-hidden {
  height: 20px;
  width: auto;
  padding-left: 2px;
  float: right;
  display: none;
}

.like-heart:hover {
  cursor: pointer;
}

.likes-counter {
  float: right;
  font-size: 80%;
  color: #00a087;
  padding-right: 8px;
  padding-top: 3px;
}

.tweet-id {
  display: none;
}




